<%- layout("layouts/BoilerPlate.ejs") %>

<div class="row">
    <div class="col-6 offset-3">

        <div class="card border-danger mb-3" >
            <div class="card-header"> Error  </div>
            <div class="card-body text-danger">
                <h5 class="card-title"><%= err.message %> </h5>
                <p class="card-text">  <%= err.stack %> </p>
            </div>
        </div>

    </div>

</div>