<%- layout("layouts/BoilerPlate.ejs") %>
<h1>Create Campground</h1>
<form  action="/campgrounds" method="post">
    <div>
        <label for="title">title</label>
        <input type="text" id="title" name="campground[title]">
    
        <label for="Place">Place</label>
        <input type="text" id="Place" name="campground[location]">

        <label for="description">description</label>
        <input type="text" id="description" name="campground[description]">

    </div>
    <button>ADD CAMPGROUND</button>
</form>
